                                            DATA TYPES AND STRUCTURES


           THEORETICAL QUESTIONS


1.What are data structures and why they are important?
- Data strctures are specialized formats for organizing,storing,and accessing collections of data.They provide efficient ways to manage information based on its characteristics and intended use.They are important to choosing the right data structure significiantly impacts the efficiency and performance of your program.To simplify data manipulation,optimize searching and storing operations.

2.Explain the difference between mutable and immutable data types with example?
- Immutable data types are those that cannot be changed after they are created.Any attempt to modify an immutable objects will result in a new object being created.
 example:
                 s= "hello"
                 s[0] = "H"  # Raises a typeerror:'str' object does not support item assignment
  Mutable data types are those that can be changed after they are created.Modifying a mutable object will change the original object.
    example:
                numbers= [1, 2, 3]
                numbers[0]=10 #change the list to [10, 2, 3]
                print(number) #output: [10, 2, 3]


  
3.What are the main differences between lists and tuples in python?
- Tuples are immutable,faster,and suitable for constant data and lists are mutable,slower,and suitable for dynamic data.

4.Describe how dictionaries store data?
- key hashing: When a key-value pair is added to a dictionary, the key is hashed using a hash function,which generates a unique index for the key.
 Indexing: The hashed key is used to determine the index at which the corresponding value is stored in the dictionary's internal array.
 Collision Resolution: If two keys hash to the same index,the dictionary uses a collision resolution strategy,such as chaining or open addressing, to store the key-value pairs.

5.Why might you use a set instead of a list in python?
- Uniqueness of elements,fast membership testing,efficient insertion and deletion,use cases.

6.What is a string in python and how is it different from a list?
- A string is a sequence of characters,such as letters,numbers,or symbols,enclosed in quotes.strings are used to represent text data.
 And the differences are strings are immutable means that once a string is created,its contents cannot be modified,a sequence of characters,can be indexed and sliced,have methods specific to string manipulation,such as upper(),lower(),split(),and join().

7.How do tuples ensure data integrity in python?
- Tuples ensure data integrity in python by being immutable,meaning thet once a tuple is created,its contents cannot be modified.

8.What is a hash table and how does it relate to dictionaries in python?
- A hash table is a data structure that stores key-value pairs in an array using a hash function to map keys to indices of the array.In python,dictionaries are implemented as hash tables.

9.Can lists contain different data types in python?
- Yes,lists in python can contain different data types.this is one of the key features of python lists,making them a versatile and flexible data structure.
 It contains elements of different data types:integer(1),string("hello"),float(3.14),boolean(true),nonetype(none).

10.Explain why strings are immutable in python?
- Immutable strings prevent malicious code from modifying sensitive data,such as passwords or encryption keys.
  Immutable strings ensure that multiple threads can access the same string
  without fear of one thread modifying the string and affecting other threads.
  Immutable strings can be used as keys in dictionaries,which requires that the key be hashable and immutable.
  Immutable strings simplify code and reduce the risk of bugs,as developers dont need to worry about strings being modified unexpectedly.

11.what advantages do dictionaries offer over lists for certain tasks?
- Dictionaries offers advantages over lists for tasks that require fast lookups,efficient data retrieval, and flexible dta structures.Dictionaries are particularly useful when working with key-value pairs,configuration data,or coaching mechanisms.

12.Describe a scenario where using a tuple would be preferable over a list?
- Scenario : Representing days of the week
  Suppose u r building a calender application that needs to represent the days of the week.you want to store the names of the days in a collection that wont change
  Tuple Solution
  days_of_week = ("monday", "tuesday", "wedneaday", "thursday", "friday", saturday", "sunday")
  In this scenario,using a tuple is preferable because:
  Immutability:The days of the week are constant and should not be changed.Tuples ensure thet the collection remains unchanged.
  Performance:Tuples are faster and more memory-efficient than lists,which is benficial for range applications.
  Code clarity:Using a tuple clearly communicates that the collection is constant and should not be modified.

13.How do sets handle duplicate values in python?
- In python,sets automatically handle duplicate values by ignoring them.
  No duplicates allowed:sets only store unique elements and any duplicate values are automatically ignored.
  Duplicate values are ignored:when u add a duplicate value to a set,it is simply ignored,and the set remains unchanged.
14.How does the "in" keyword work differently foe lists and dictionary?
- Lists:
 Element presence:for lists,the "in" keyword checks if a specific element is present in the list.
 Value comparison:the "in" keyword performs a value comparison between the target element and the elements in the list.
 Dictionaries:
 Key presence:for dictionaries,the "in" keyword checks if a specific key is present in the dictionary.
 Key lookup:The "in" keywoed performs a key lookup in the dictionary.

15.Can you modify the elements of a tuple ? Explain why or why not?
- Modifying tuple elements
No,u cannot modify the elements of s tuple directly.Tuples are immutable,meaning that once a tuple is created,its contents cannot be changed.
Why tuples are immutable
Design choice:Tuples were designed to be immutable to provide a way to store collections of objects that should not be changed.
Thresd safety:Immutable tuples ensure that multiple threads can access the same tuple without fear of one thread modifying the tuple and affecting others threads.

16.What is a nested dictionary,and give an example of its use case?
- A nested dictionary is a dictionary that contains another dictionary as its value.This allows for complex data structures and hierarchical organization of data.
Example
 person = {
  "name": "john",
  "age": 30,
  "address": {
    "street": "123 main
 st",
    "city": "New York",
    "state": "NY",
    "Zip": "10001"
    }
 }
 Use case:Representing complex data nested dictionaries are useful for representing complex data structures,such as user profiles and product information.

17.Describe the time complexity of accessing elments in a dictionaries?
- The time complexity of accessing elements in a dictionary is o(1),also known as constant time complexity.This is because dictionaries use s hash table data structure,which allows for fast lockups.

18.In what situations are lists preferred over dictionories?
- To ordered data,index-based access,homogeneous data,sequence operations,small fixed-size collections.

19.Why are dictionaries considered unordered,and how does that affect data retrieval?
-While dictionaries in modern python maintain insertion order,its essential to understand the historical context and implications of dictionary ordering on data retrieval.By using keys to access values and avoiding assumptions about order,u can write more robust and efficient code.

20.Explain the difference between a list and a dictionary in terms of data retrieval?
-Lists and dictionaries differ in how you access data :lists use index-based access,while dictionaries use key-based access.This fundamental difference impacts how you retrieve data and which data structure is best suited for your applications



      PRACTICAL QUESTIONS

In [2]:
# Write a code to create a string with your name and print it.
name = "sneha"
print(name)

sneha

In [5]:
# Write a code to find the length of the string "Hello World".
string = "hello world"
length = len(string)
print("The length of the string is :", length)

The length of the string is : 11

In [6]:
# write a code to slice the first 3 characters from the string "python programming".
string = "python programming"
sliced_string = string[:3]
print(sliced_string)

pyt

In [7]:
# write a code to convert the string "hello" to uppercase.
string ="hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

In [10]:
# .write a code to replace the word"apple" with "orange" in the string "I like apple"
string = "I like apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like orange

In [11]:
# Write a code to create a list with numbers 1to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [12]:
# write a code to append the numbers 10 to the list [1,2,3,4]
numbers = [1, 2, 3, 4]
numbers .append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [15]:
# write a code to remove the number 3 from the list [1,2,3,4,5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [16]:
# Write a code to access the second element in the list ['a', 'b','c' 'd'].
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

In [17]:
#.write a code to remove the number 3 from the list [1,2,3,4,5].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [18]:
# Write a code to create a tuple with the elements 100,200,300 and print it.
numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

In [19]:
# Write a code a access the second-to-last element of the tuple ['red','green','blue','yellow']
colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[-2]
print(second_last)

blue

In [3]:
#.Write a code to find the minimum number in the tuple(10,20,5,15).
numbers = (10, 20, 5, 15)
min_number = min(numbers)
print(min_number)

5

In [4]:
# .Write a code to find the index of the element "cat" in the tuple ('dog','cat','rabbit').
animals = ("dog", "cat", "rabbit")
index = animals.index("cat")
print(index)

1

In [8]:
# .Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.tuple
fruits = ("apple", "banana", "orange")
if "kiwi" in fruits:
    print("yes, kiwi is in the tuple.")
else:
      print("no, kiwi is not in the tuple.")

no, kiwi is not in the tuple.

In [11]:
# Write a code to create a set with the elements 'a','b','c' and print it.
letters = set(['a', 'b', 'c'])
print(letters)

{'b', 'c', 'a'}

In [12]:
#.Write a code clear all elements from the set{1,2,3,4}
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

In [13]:
#.Write a code to remove the element 4 from the set{1,2,3,4}.
numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

In [14]:
# Write a code to find the union of two sets{1,2,3} and {3,4,5}
set1 ={1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [15]:
# .Write a code to find the intersection of two sets{1,2,3} and {2,3,4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [16]:
# Write a code to create a dictionary with the keys "name","age", and "city",and print it
person = {
    "name": "sneha",
    "age": 24,
    "city": "mumbai"
}
print(person)

{'name': 'sneha', 'age': 24, 'city': 'mumbai'}

In [17]:
# .Write a code to add a new key-value pair "country","USA" to the dictionary {'name':'john','age':25}.
person = {'name': 'john', 'age':25}
person["country"] = "USA"
print(person)

{'name': 'john', 'age': 25, 'country': 'USA'}

In [18]:
# .Write a code to access the value associated with the key "name" in the dictionaty{'name':'Alice','age':30}.
person = {'name': 'alice', 'city': 'paris'}
if "city" in person:
  print("yes, 'city' is in the dictionary.")
else:
  print("no,'city' is not in the dictionary.")

yes, 'city' is in the dictionary.

In [19]:
# Write a code to create alist with strings and print the element at the third index.
fruits = ['apple', 'banana', 'cherry', 'date']
third_element = fruits[2]
print(third_element)

cherry

In [20]:
# Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = {**dict1,**dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [22]:
# Write a code to convert a list of strings into a set.
string_list = ['apple', 'banana', 'apple', 'orange']
string_set = set(string_list)
print(string_set)

{'banana', 'orange', 'apple'}